.modal-content {
  padding: 0 24px;
}
.modal-content p {
  font-size: 16px;
  color: #6b7280;
}
.email-group {
  margin-bottom: 30px;
}
.email-group p {
  font-size: 16px;
  color: #6b7280;
  margin-bottom: 8px;
  margin-top: 15px;
}

.password-group {
  margin-bottom: 30px;
}

.password-group p {
  font-size: 16px;
  color: #6b7280;
  margin-bottom: 8px;
}

/* .sign-in-button {
  height: 47px;
} */

.modal-foot {
  display: flex;
  justify-content: space-between;

  margin-top: 22px;
  margin-bottom: 50px;
}

.modal-footer p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #6b7280;
}

p {
  margin-bottom: 0;
}

.sign-in-button {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: center;

  color: white;
  margin-bottom: 0px;
}

.sign-in-button:hover {
  cursor: pointer;
}
